apiVersion: apps/v1
kind: Deployment

metadata:
  name: intersection-agent-deployment

spec:
  replicas: 2
  selector:
    matchLabels:
      app: intersection-agent
  
  template:
    metadata:
      labels:
        app: intersection-agent
  
    spec:
      containers:
      - name: intersection-agent
        image: gcr.io/gen-lang-client-0189309103/intersection-agent:v1
        ports:
          - containerPort: 8003
        env:
          - name: GEMINI_API_KEY
            valueFrom:
              secretKeyRef:
                name: hire-sense-secrets
                key: GEMINI_API_KEY
          - name: GEMINI_URL
            valueFrom:
              configMapKeyRef:
                name: hire-sense-config
                key: GEMINI_URL
    