apiVersion: apps/v1
kind: Deployment
metadata:
  name: supabase-deployment

spec:
  replicas: 1
  selector: 
    matchLabels:
      app: supabase-app
  
  template:
    metadata:
      labels:
        app: supabase-app
    
    spec:
      containers:
       - name: supabase-container
         image: supabase:latest
         ports:
          - containerPort: 5432
         env:
          - name: SUPABASE_URL
            valueFrom:
              secretKeyRef:
                name: hire-sense-secrets
                key: SUPABASE_URL
          - name: SUPABASE_KEY
            valueFrom:
              secretKeyRef:
                name: hire-sense-secrets
                key: SUPABASE_KEY
         volumeMounts:
          - name: supabase-volume
            mountPath: /var/lib/postgresql/data
    
      volumes:
      - name: supabase-volume
        persistentVolumeClaim: 
          claimName: supabase-pvc