apiVersion: apps/v1
kind: Deployment
metadata:
  name: orchestrator-deployment

spec:
  replicas: 2
  selector:
    matchLabels:
      app: orchestrator
  
  template:
    metadata:
      labels:
        app: orchestrator
    
    spec:
      containers:
       - name: orchestrator
         image: orchestrator:latest
         ports:
          - containerPort: 8007
          
         env:
          - name: GEMINI_API_KEY
            valueFrom:
              secretKeyRef:
                name: hire-sense-secrets
                key: GEMINI_API_KEY

          - name: GEMINI_URL
            valueFrom:
              secretKeyRef:
                name: hire-sense-secrets
                key: GEMINI_URL
