apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment

spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  
  template:
    metadata:
      labels:
        app: api
    
    spec:
      containers: 
       - name: api
         image: gcr.io/gen-lang-client-0189309103/api:v1
         ports:
          - containerPort: 8000

         env:
          - name: SUPABASE_URL
            valueFrom:
              secretKeyRef:
                name: hire-sense-secrets
                key: SUPABASE_URL
          
          - name: SUPABASE_KEY
            valueFrom:
              secretKeyRef:
                name: hire-sense-secrets
                key: SUPABASE_KEY
                