apiVersion: apps/v1
kind: Deployment

metadata:
  name: job-parse-deployment

spec:
  replicas: 2
  selector:
    matchLabels:
      app: job-parse-agent
    
  template:
      metadata:
        labels:
          app: job-parse-agent
      
      spec: 
        containers:
         - name: job-parse-agent
           image: job-parse-agent:latest
           ports:
            - containerPort: 8001
           env:
            - name: GEMINI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: hire-sense-secrets
                  key: GEMINI_API_KEY
            
            - name: GEMINI_URL
              valueFrom:
                configMapKeyRef:
                  name: hire-sense-config
                  key: GEMINI_URL